body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  height: 1000px;
}
#Grid {
  width: 900px;
  height: 900px;
  flex-basis: 900px;
  display: flex;
  flex-direction: row;
}
.vdivs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.hdivs {
  display: flex;
  flex-grow: 1;
  border-width: 3px;
  border-color: black;
}
/*BUG: Border color not applying. */
