body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  height: 1000px;
}

#top {
  display: flex;
  flex-direction: column;
}
#Grid {
  width: 1000px;
  height: 1000px;
  flex-basis: 1000px;
  display: flex;
  flex-direction: row;
}
.vdivs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.hdivs {
  display: flex;
  flex-grow: 1;
  border-style: solid;
  border-color: black;
}
